<% provide(:title, 'Acerca de') %>
<!DOCTYPE html>
<html>
  <head>
    <title>1L1K Project | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sobre 1L1K y yo:</h1>
    <p>
      Soy <a href="http://rodrigotello.me/">Rodrigo Tello</a> y este es un proyecto para intentar mejorar en algo la educación de mi país, México.
    </p>
    <p>
      Este es un proyecto personal, sin fines de lucro. No está asociado a ninguna organización, partido político, compañía, religión o cualquier forma de institución. Estoy haciendo esto porque me gustaría poder aportar lo poco que sé sobre diseño y tecnología.
    </p>
  </body>
</html>