<% provide(:title, 'Contacto') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Contacto | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contáctame</h1>
    <p>
      Si estás interesado en ayudarme, sugerirme algo o contactarme por alguna otra razón, aquí está mi información:
      <br>
      Mi <a href="http://twitter.com/rodrigotellom">twitter</a>
      <br>
      Mi correo: rodrigo@funkalab.com
      <br>
      Mi skype: rodrigo_3hm
      <br>
      Mi <a href="http://rodrigotello.me">portafolio</a>
    </p>
  </body>
</html>