<% provide(:title, 'Ayuda') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ayuda | <%= yield(:title) %></title>
  </head>
  <body>
      <h1>¿Cómo funciona?</h1>
      <div class = "offset1">
        <p>
        <b>¿Qué es esto?</b><br>
        1L1k es un proyecto que intenta crear un prototipo para mejorar en algo (por pequeño que sea) a la educación en México.
        </p>
        <p>
        <b>¿Cuáles son las reglas?</b><br>
        Usar lo que se tiene: 1 laptop y $1000 pesos.
        <br>
        Poder prototiparlo de manera sencilla y sin muchas personas.
        <br>
        Me encuentro en Monterrey, así que tiene que ser en la ciudad.
        <br>
        Quiero aportar algo a la educación, aunque sea pequeño.
        <br>
        Me gustaría compartirles la curiosidad por la tecnología.
        <br>
        Tiene que poder probarse en un par de horas.
        <br>
        Necesita poder iterarse (esto implica que no puedo regalar la laptop).
        </p>
        <p>
        <b>¿Qué clase de ideas busco?</b><br>
        El prototipo puede ser cualquier cosa: dar un curso, rentar la laptop a una escuela, intercambiarle una hora de la laptop (y mi tiempo) a algun joven de bajos recursos a cambio de que me enseñe algo, lo que sea.
        </p>
        <p>
        <b>¿Con qué cuenta el proyecto?</b><br>
        Esto es lo interesante: actualmente tengo una laptop Dell vieja que está en desuso. Pienso invertir ademas $1000 pesos en cualqueir otro gasto (a decir verdad, la laptop necesita mantenimiento, pero ya lo estoy considerando).
        </p>
        <p>
        <b>¿Qué estoy pidiendo?</b><br>
        Nada, solo ideas. Necesito recopilar opiniones sobre como puedo empezar a crear algo útil con lo que tengo.
        </p>
        <p>
        <b>¿Quien implementará el primer prototipo?</b><br>
        Lo mas probable es que yo, Rodrigo. Si te interesa, contáctame.
        </p>
      </div>
  </body>
</html>