<footer class="footer">
  <small>
    A project by <a href="http://rodrigotello.me/">Rodrigo Tello</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "¿Qué es esto?",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/rodrigotellom/">Sigueme </a></li>
    </ul>
  </nav>
</footer>