<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "1L1K", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio",    root_path %></li>
          <li><%= link_to "¿Cómo funciona?",    help_path %></li>
          <li><%#= link_to "Contacto", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>